.navbar {
  color: #ffffff !important;
  font-size: 25px;
}

.title-nav-bar {
  margin: 0 !important;
  padding: 0 !important;
  color: #ffffff !important;
  text-decoration: none;
}

.title-nav-bar:hover {
  text-decoration: none;
  color: #61dafb;
}
