.card-pokemon-item {
  border-radius: 5px;
  border: "1px solid black";
}
.pkm-name{
  font-weight: bold;
}
.card-container{
  width: 25%;
  padding: 10px;
  float: left;
  text-align: center;
}
.card-container:hover{
  cursor: pointer;
}
.card-pkm{
  padding: 10px;
  font-size: 14px;
  height: 100%;
}
